body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Times New Roman', serif;
}

header,
footer {
    background-image: url('images/your-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 200px;
    padding: 20px;
    color: white;
    font-weight: bold;

    font-family: 'Arial', sans-serif;

    p {
        color: #111D70;
        font-weight: bold;

    }
}

.middler {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

aside {
    flex-basis: 200px;
}

main {
    flex-grow: 1;
    flex-basis: 0;
    text-align: left;
}

main,
aside,
header,
footer {
    padding: 10px;
}


nav {
    & ul {
        list-style-type: none;
        padding-left: 0;
    }

    & li {
        display: inline-block;
        font-weight: bold;
        margin: 0 10px;
    }
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

/* This is for generate.html styling */
.generate {
    text-align: center;
}

.questions {
    text-align: center;
    padding: 5px;
}

.playlisth1 {
    text-align: center;
    color: black;
}

.spotify {
    color: #6622CC;
}

.playlist-main {
    text-align: center;
}

.help-link {
    color: black;
}

.get-started {
    color: #6622CC;
}